{%extends "Blog/base.html" %}

{%block content%}

    <div class="content-section">
        <form method="POST">
            {%csrf_token%}
            <fieldset class="form-group">
                <legend class="border-bottom mb-2">Delete Post?</legend>
                <h2>On pressing the following button the post "{{object.title}}" will be deleted.</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" style = "color: red;" type="submit">Delete</button>
                <button class="btn btn-outline-secondary" href = "{%url 'post-detail' object.id%}">Changed your mind. Chick here if you don't want to delete</a>
            </div>
        </form>
        
    </div>

{%endblock content%}