{%extends 'Blog/base.html'%}
{%load crispy_forms_tags%}
{%block content%}

    <div class="content-section">
        <form method="POST">
            {%csrf_token%}
            <fieldset class="form-group">
                <legend class="border-bottom mb-2">Login</legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-2">
            <a href="{%url 'register'%}">Don't have an account? SignUp</a>
        </div>
    </div>

{%endblock content%}